@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body{
	margin: 0;
	 padding: 0;
    background-color: #99B5A6;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


header{
	background: white;
	color: black;
	padding: 8px 20px 6px 40px;
	height: 50px;
}

header h1{
	display: inline;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}

.logo img {
  margin-left: 100px;
  float: left;
  width: 50px;
  height: 50px%;
}

nav ul {
	margin-right: 100px;
	display: inline;
	padding: 0px;
	float: right;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 10px;
	

}

nav ul li a{
	color: black;
	text-decoration: none;	
	padding: 0 20px 0 20px;
}


nav ul ul{
	display: none;
	position: absolute;
}

#navli a{
	font-family: 'Poppins', sans-serif;
}

#navli a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  
  display: inline-block;
  position: relative;
}
#navli a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 1;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background:#F1A106;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navli a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 10px;
	}
}

.divider{
	background-color: #99B5A6;
	height: 5px;
}

.info{
	margin: 10px;
	font-family: 'Poppins', sans-serif;
	border: 5px solid green;
	width: 300px;
	height: auto;
	position: static;
	left: 100px;
}

.name{
	font-size: 20px;
	margin-left: 10px;
	width: 200px;
	float: right;
}